on boot
    insmod /system/lib/modules/btlock.ko
    chmod 664 /dev/btlock
    chown bluetooth system /dev/btlock

service poke_helper /system/bin/brcm_poke_helper /dev/ttyAMA0
    class main
    group bluetooth net_bt_admin
